.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main p {
    font-size: larger;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
}

.counter h1 {
    margin: 10px;
}